.main-como-comprar {

    .row {
        margin: 40px 10px;
        padding: 10px 10px;


        .texto-como-comprar {
            color: $vargray-400;
            font-size: 2rem;
            letter-spacing: $varletter-2;
            @include tablet {
                font-size: 26px;
            }
        }

        // se repite en las columnas 1,2,3
        h2 {
            color: $vargray;
           @include tablet{
            font-size: 21px;
            letter-spacing: $varletter-2
           }

        }
        h3{
            @extend h2
        }


        // se repite en columnas 2 y 3
        li {
            color: $varwhite;
            letter-spacing: $varletter-1;
            margin: 15px;
            line-height: 40px;
            text-align: left;
            @include tablet{
                font-size: 14px;
            }
        }

        p {

            @extend li
           
        }

        .lista-botones li {
            text-align: center;
            list-style: none;
            
        }
            
        .mapa {
            outline: 4px solid $varaqua;
            margin: 5em auto;
            width: 240px;
            height: 240px;
            @include tablet{
                width: 210px;
                height: 200px;
            }


            iframe {
                height: 100%;
                width: 100%;
            }

        }

    }

}