.footer {
    min-height: 10vh;
    display: flex;
    background-color: transparent;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;


    .logo {
        color:$vargray;
        display: flex;
        align-items: center;
        padding: 9px 58px 33px 57px;
        justify-content: center;
    }

    /* estilo dado a bootstrap */

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        justify-content: center;
    }


}